@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, var(--body-left-color), var(--body-right-color));
  font-family: "Sansita Swashed", cursive;
}

.center {
  color: var(--text-color);
  position: relative;
  padding: 50px 50px;
  background: var(--form-back-color);
  border-radius: 10px;
}

.center h1 {
  font-size: 2em;
  border-left: 5px solid var(--text-color);
  padding: 10px;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid var(--text-color);
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.center .inputbox input {
    color: var(--text-color);
  }

.center .inputbox:last-child {
  margin-bottom: 0;
}

.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

.button{
    border-radius:25px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    background: var(--body-right-color);
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

.button:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }

  

